@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
         url('fonts/glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* General setup */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: "glacial_indifferenceregular", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
  position: relative;
  bottom: 0;
  padding: 0px;
  margin-bottom: 5px;
}

header, section, aside, nav {
  padding: 20px;
}

/* header and footer */

header {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

header,
footer {
  width: 100%;
  text-align: center;
}

/* WRITE YOUR CODE BELOW HERE */
h1, h2 {
  font-family: "ralewayregular", sans-serif;
  letter-spacing: 0.2rem;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  margin-bottom: 10px;
  font-size: 3rem;
}

p {
  font-size: 1.4rem;
}
ul, ol {
  font-size: 1.4rem;
  line-height: 1.5;
}
a {
  font-size: 1.4rem;
  text-decoration: underline;
  color: #a66;
}


a:focus {
  outline: none;
}
a:active,
a:hover {
  text-decoration: none;
  color: rgb(103, 62, 62);
}

a:visited {
  color: rgb(95, 84, 84);
}

h2 + p {
  text-indent: 20px;
}


a[href^="http"]::after,
a[href^="https://"]::after
{
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}